{% if app.user %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="nav-link active" aria-current="page" href="{{ path('project_index') }}">Projet</a>
    <a class="nav-link" href="#">Archives</a>
    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
    <a class="nav-link" href="/"> </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2">
      </ul> 
        <span class="navbar-text fw-bold text-success text-uppercase">
          Bienvenue : {{ app.user.firstname }} {{ app.user.lastname }} 
        </span>
    </div>
  </div>
</nav>
{% endif %}
